{% extends "master.html" %}

{% block title %} ABC Enterprise {% endblock %}

{% block content %}
<h1>Meet our staff members</h1>
<p>Click on each member id to view details</p>
	<table border="1">
		<tr>
			<th>ID</th>
			<th>Full name</th>
			<th>Phone number</th>
		</tr>
		{% for x in workers %}
		<tr>
			<td><a href="{% url 'details' x.id %}">{{x.id}}</a></td>
			<td>{{x.fname}} {{x.lname}}</td>
			<td>{{x.phone}}</td>
		</tr>
		{% endfor %}
	</table>
	<p>Go back <a href="/">Home</a></p>
{% endblock %}